.recommend .card {
  font-family: "Poppins", sans-serif;
  position: relative;
  border-radius: 0 !important;
}
.recommend .card:hover .car_btn {
  opacity: 1 !important;
}
.recommend .card:hover .hover_item {
  display: block !important;
}
.recommend .card img {
  height: 200px;
  position: relative;
  -o-object-position: top;
     object-position: top;
}
.recommend .card p {
  margin: 0;
  white-space: wrap;
  font-family: "Poppins", sans-serif;
}
.recommend .card::before {
  content: "SALE!";
  display: inline-block;
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 10px;
  background-color: #f3426d;
  color: #fff;
  font-size: 15px;
  padding: 0px 5px;
}
.recommend .card .card-body {
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-top: 5px;
  padding-left: 10px;
}
.recommend .card .card-body .car_btn {
  position: absolute;
  top: -37px;
  text-align: center;
  display: block;
  background: #777;
  width: 100%;
  left: 0;
  padding: 5px 0;
  transition: 0.4s;
  opacity: 0;
}
.recommend .card .card-body .car_btn:hover {
  background-color: var(--btn-color);
  color: #ffffff;
}
.recommend .card .card-body .car_btn a {
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
}
.recommend .card .card-body .card-text p {
  font-size: 15px;
  color: #141313;
  /* font-weight: 200; */
  color: #000000;
  font-weight: 400;
}
.recommend .card .card-body .card-text strong {
  font-size: 15px;
  color: #000;
  font-weight: 500;
}
.recommend .card .card-body .card-text strong span {
  font-size: 12px;
  text-decoration: line-through;
  font-weight: 300;
}
.recommend .card .card-body .card-text .star span {
  font-size: 18px;
  color: #e9253f;
}
.recommend .card .hover_item {
  background-color: #f3426d;
  display: none;
  transition: 0.4s;
}
.recommend .card .hover_item .icon_product {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.recommend .card .hover_item .icon_product .hover-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.recommend .card .hover_item .icon_product .hover-content:hover a {
  background-color: var(--btn-color);
  display: block;
}
.recommend .card .hover_item .icon_product .hover-content a {
  font-size: 15px;
  color: var(--back-color);
  text-transform: capitalize;
  z-index: 100;
  color: #fff;
  margin-bottom: 0 !important;
  padding: 0 5px;
  display: none;
  transition: 0.4s;
  position: absolute;
  left: -77px;
  cursor: pointer;
  transition: 0.4s;
  /* background: antiquewhite; */
}
.recommend .card .hover_item .icon_product .hover-content .view {
  text-decoration: none;
  left: -42px;
}
.recommend .card .hover_item .icon_product .hover-content .buy {
  left: -34px;
  text-decoration: none;
}
.recommend .card .hover_item .icon_product .hover-content .whis {
  left: -63px;
  text-decoration: none;
}
.recommend .card .hover_item .icon_product .hover-content span {
  color: #777;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.3s;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 100 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommend .card .hover_item .icon_product .hover-content span:hover {
  background-color: var(--btn-color);
  color: #fff;
}
.recommend .card .hover_item .icon_product .hover-content span:hover a {
  background-color: var(--btn-color);
  color: #fff;
}

@media screen and (max-width: 575px) {
  .recommend .rowColumm {
    width: 50% !important;
  }
  .recommend .rowColumm .card img {
    height: 150px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .recommend .rowColumm:nth-child(1) {
    width: 100% !important;
    height: 100%;
  }
}/*# sourceMappingURL=Recommend.css.map */