 .payment_section{
    background-color: #F5F5F5;
   .wrapper_payment{
    background-color: #fcfcfc;
    padding: 2rem 0;
    .payment_item{
        text-align: center;
        
        h3{
            font-size: 15px;
            font-weight: 600;
            margin: 5px 0;

        }

        p{
            font-size: 15px;
            color: #777;

        }

        
    }
   }
 }